@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

body{
background-color: #1b373b;
}

img {
  height: 300px;
  border-radius: 20px;
  margin-top: 100px;
}

.container {
  position: relative;
  text-align: center;
}

section {
  height: 450px;
  position: relative;
  border-bottom-style: solid;
  border-color: rgba(16, 11, 43, 0.587);
  border-width: 15px;
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
}

p {
  font-family:'Times New Roman', Times, serif; 
  font-size: 21px;
  width: 450px;
  overflow-wrap: scroll;
  position: relative;
  text-justify: bottom;
  text-indent: 40px;
  color: rgb(188, 166, 136);
  text-shadow: -2px -2px 1px black;
}

/* container and .tl to anchor text in center on fish from w3 */
 .tl {
  font-family: 'Oleo Script Swash Caps', cursive;
  position: absolute;
  top: 65%;
  left: 35%;
  text-align: center;
  font-size: xxx-large;
  color: rgb(25, 85, 28);
  text-shadow: -3px -3px 1px black;
  text-decoration: underline;
}

header {
  margin-bottom: 30px;
}

nav{
  border-style: solid;
  border: rgb(184, 118, 96);
  background-color: rgb(184, 118, 96);
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  margin-left: 50px;
  font-size: xx-large;
}

h1 {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 75px;
  text-align: center;
  justify-self: center;
  color: burlywood;
  text-decoration: underline;
  height: min-content;
  max-width: 100%;
  margin-top: 50px;
}

#ingArt p{

  float: right;
  margin-left: 100px;
}

#ingSec img{
  float: left;
}

article {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

#manuSec img{
  float: right;
  margin-left: 50px;
}


#recSec img{
  float: left;
  margin-right: 200px;
  margin-left: 100px;
}


#merchSec article{
margin-left: 100px;
}

#merchOne {
  float: left;
  margin-left: 50px;
}

p > a {
  text-decoration: none;
  color: rgb(188, 166, 136);
  text-shadow: -2px -2px 1px black;
}
/* got the . and :visited from stack */
p > a:visited {
  color: rgb(188, 166, 136);
  text-shadow: -2px -2px 1px black;
}

#merchTwo {
  float: right;
  margin-left: 50px;
}

#histSec img{
  float: right;
  margin-left: auto;
  margin-right: 100px;
}

caption {
  font-family: 'Oleo Script Swash Caps', cursive;
  text-decoration:overline;
  font-size: xx-large;
  color: sandybrown;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

table{
  margin-top: 150px;
  background-color: rgba(102, 67, 26, 0.195);
  border-style: solid;
  color: rgba(250, 128, 114, 0.863);
  justify-self: left;
  border-radius: 2%;
  height: 200px;
  
}

th{
  border-style: solid;
  align-content: center;
  font-size: larger;
  text-decoration: underline;
  color: #b7e769;
}

th:nth-child(2){
  width: 75px;
}

th:nth-child(3){
  width: 75px;
}

tr{
  border-style: solid;
  border-color: black;
}

td{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-color: salmon;
  min-width: fit-content;
}


footer {
  height: 20px;
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

