
body{
  background-color: salmon;
}
header{
  <img src ='img/salmon.png'>
}

table{
  border-style: solid;
  border-color: black;
  margin: auto;
  justify-content: center;
}

th{
  border-style: solid;
  border-color: black;
}



tr{
  border-style: solid;
  border-color: black;
}

td{
  font-family: 'Koulen', cursive;
  text-align: center;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-color: black;
  margin: 0px;
}